<div class="left-side-cont" >
  <nav class="left-nav">
    <ul class="nav-links">
      <li class="link"
          appSetActive appSetKey="home"
          (click)="navigateToHomePage()"
          [class.active]="activeLinkService.getActiveState('home') | async">
        <a class="route"  >Home</a>
      </li>
      <li class="link"
          appSetActive appSetKey="latestViewed"
          (click)="getLatestViewedTickets()"
          [class.active]="activeLinkService.getActiveState('latestViewedTickets') | async">
        <a class="route"  >
          Latest viewed tickets
        </a>
      </li>
    </ul>
  </nav>
</div>
